@charset "UTF-8";

header{
    flex-flow: column nowrap;
}

header > div{
    width: 90vw;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    justify-content: space-evenly;
    gap: 10px;
}

header > h1{
    flex: 0 1 auto;
}
