*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    padding: 20px;
}

header{
    background-color: antiquewhite;
    border: 2px solid black;

    padding: 5px;

    text-align: center;

    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 auto;

    margin: 0;
}

nav > a{
    flex: 0 0 auto;
    
    background-color: burlywood;
    margin: 2px;
    border-radius: 15px;

    text-decoration: none;
    color: black;

    padding: 5px;
}

nav > a:hover{
    background-color: rgb(243, 196, 135);
}

main{
    margin-top: 5px;
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid black;
}