/* Display Grid */
main{
    display: grid;
    grid-template: auto/ 40px 500px 1fr 40px;
    width: 100%;
    margin-top: 50px;
}

/* Apresentação */
#apresentacao{
    position: fixed;
    left: 7%;
    top: 5%;
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 auto;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

#detalhes{
    grid-area: 1 / 3 / 2 / 4;
    width: 80%;
    margin: auto;
}

#skills{
    padding: 10px;
    border-radius: 15px;
}

#graduation{
    padding: 10px;
    border-radius: 15px;
}

.img-project > p{
    font-size: 16px;
}