body > div{
    display: grid;
    height: 100vh;
    grid-template: 2fr 1fr 4fr 1fr / 3fr 1fr;
}
#topo{
    border: 2px solid blue;
    grid-area: 1 / 1 / 2 / -1;
}
#menu{
    border: 2px solid rgb(234, 0, 255);
    grid-area: 2 / 1 / 3 / -1;
}

#principal{
    border: 2px solid rgb(255, 232, 24);
    grid-area: 3 / 1 / 4 / 2;
}
#secundario{
    border: 2px solid green;
    grid-area: 3 / 2 / 4 / 3;
}

#rodape{
    border: 2px solid red;
    grid-area: -2 / 1 / -1 / -1
}