@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

html {
  scroll-behavior: smooth;
}

h2{
    color: #3373FD;
}

/* config header/nav */
header{
    height: 50px;
    width: 100%;
    background-color: rgb(60, 112, 255);
    position: fixed;
    top:0;
    left: 0;
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 25px;
    height: 100%;
    padding-right: 20px;
}

header > nav > a{
    font-size: large;
    color: white;
}

.grow:hover{
    animation: zoom-in 0.4s ease forwards;
}

@keyframes zoom-in {
    0%   { transform: scale(1); }
    100% { transform: scale(1.15); }
}

/* Display Grid */
main{
    display: grid;
    grid-template: auto auto / 20px 1fr 20px;
    width: 100%;
    margin-top: 50px;
}


/* Apresentacao */
#apresentacao{
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

img{
    max-width: 250px; 
    height: auto;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    border: 5px solid #3498db;
    border-radius: 50%;
}

#apresentacao > h2{
    text-align: left;
}
#apresentacao > p{
    text-align: left;
}
#apresentacao > div{
    margin: 10px 0;
}
#apresentacao > div > a{
    font-size: 1.2em;
    color: rgb(51, 115, 253);
    padding: 10px;
}
.pulseshadow:hover {
    animation: pulse-shadow 0.8s ease-in-out infinite;
}
.pulse:hover {
    animation: pulse 0.6s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}


/* Detalhes */
#detalhes{
    grid-area: 2 / 2 / 3 / 3;
}

.skills{
    scroll-margin-top: 80px;
}

.skill{
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.bar{
    width: 100%;
    height: 10px;
    background-color: rgba(253, 228, 198, 0.767);
    border: 2px solid rgb(0, 60, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 47, 255, 0.733);
}

.html{
    width: 90%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
}
.css{
    width: 75%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
}
.python{
    width: 85%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
}
.sql{
    width: 70%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
}
.comunicacao{
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
}
.adaptabilidade{
    width: 90%;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
}

.percent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.percent-text{
    color: rgb(0, 60, 255);
} 

article{
    margin: 30px 0;
}

#graduation{
    scroll-margin-top: 80px;
}

.course{
    margin: 15px 0;
    height: 100px;
    padding: 10px 0;

    border-radius: 20px;
    border-left: 6px solid #3498db;
    background-color: #e7e7e7;
    transition: all 0.4s;
}

.course > p{
    padding-left: 20px;
    font-weight: 500;
}

.course > h3{
    padding-left: 20px;
    color: #3498db;
}

.course:hover{
    border-left: 16px solid rgb(0, 81, 255);
}