/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}


/* config header/nav */
header{
    height: 50px;
    background-color: rgb(60, 112, 255);
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 25px;
    height: 100%;
    padding-right: 20px;
}

i{
    font-size: large;
    color: white;
}

/* Display Grid */
main{
    display: grid;
    grid-template: auto auto / 20px 1fr 20px;
    width: 100%;
}

#apresentacao{
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

#apresentacao > h2{
    text-align: left;
}
#apresentacao > p{
    text-align: left;
}

#detalhes{
    grid-area: 2 / 2 / 3 / 3;
}


/* config header/nav */
img{
    max-width: 65%; 
    height: auto;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    border: 5px solid rgb(60, 112, 255);
}