/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

header{
    height: 50px;
    background-color: rgb(60, 112, 255);
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 25px;
    height: 100%;
    padding-right: 20px;
}

i{
    font-size: large;
    color: white;
}