@charset 'UTF-8';

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;

    margin: 20px 0px;
}


main > section{
    display: flex;
    padding: 0px;
    margin: 0px;
}

#mediaText{
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;

    margin: 10px;
}

.imagem{
    text-align: center;
    min-width: 150px;
    width: 100%;
}

img{
    max-width: 400px;
    height: auto;
    flex: 0 1 auto;
}

#textMedia{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 10px;
}

.text{
    margin: 0;
    padding: 10px 20px;
}

footer{
    padding: 10px;
}

@media (max-width: 625px)  {
    iframe{
        max-width: 100%;
        width: 85vw;
        height: auto;
        aspect-ratio: 16/9;
    }

    img{
        max-width: 100%;
        width: 85vw;
        height: auto;
    }
}