@charset 'UTF-8';

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    margin: 20px 0px;
}


main > section{
    display: flex;
    padding: 0px;
    margin: 0px;
}

#textMedia{
    background-image: linear-gradient(to top,#0000005d, #ffffff27);
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

#mediaText{
    background-image: linear-gradient(to bottom,#0000005d, #ffffff27);
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

#mediaText{
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;

    margin: 10px;
}

.imagem{
    padding: 5px 0;
    text-align: center;
    min-width: 150px;
    width: 100%;
}

img{
    max-width: 400px;
    height: auto;
    flex: 0 1 auto;
}

#textMedia{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 10px;
}

.text{
    margin: 0;
    padding: 10px 20px;
}

footer{
    padding: 10px;
}

@media (max-width: 625px)  {
    iframe{
        max-width: 100%;
        width: 85vw;
        height: auto;
        aspect-ratio: 16/9;
    }

    img{
        max-width: 100%;
        width: 85vw;
        height: auto;
    }
}