*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

header{
    padding: 15px;
}

main{
    padding: 10px;
    background-color: #E3E3E1;
}

main > section{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 50px;
    padding: 60px 0;
}

.text{
    max-width: 900px;
    padding: 10px 60px;
    margin: 5px 60px;
    background-image: linear-gradient(to top,#d1d1d0, #d1d1d04d);
    border-radius: 5px;

    flex: 1 1 auto;
}

.imagem{
    flex: 0 0 auto;
    width: 560px;
}

#textMedia{
    margin-top: 20px;
}

footer{
    padding: 15px;
}