*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    font-size: 18px;
    background-image: linear-gradient(to bottom, #a7a1b4 10%, #c9bcbc 80%, #a7a1b4 10%);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 50px;
    padding: 20px 0;
}

main{
    padding: 10px;
    background-color: #a7a1b4;
}

main > section{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 50px;
    padding: 60px 0;
}

#mediaText{
    background-image: linear-gradient(to bottom,#0000005d, #ffffff27);
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}

.text{
    max-width: 900px;
    padding: 10px 60px;
    margin: 5px 60px;

    flex: 1 1 auto;
}

.imagem{
    flex: 0 0 auto;
    width: 560px;
}

#textMedia{
    background-image: linear-gradient(to top,#0000005d, #ffffff27);
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 50px;
    padding: 20px 0;
}

.rodape{
    max-width: 2300px;
}