body{
    margin: 0;
    padding: 0;
}

.conteiner{
    position: relative;
    height: 100vh;
    background-image: url(image/espaco.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.astronauta{
    background-image: url(image/astronauta.png);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}