@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    border: 1px dotted black;
    text-align: justify;
}
h1, h2, p{
    padding: 5px 10px;
}

header > h1{
    font-size: 1.6em;
}

header > p{
    margin-top: 10px;
}

main{
    background-color: rgb(196, 196, 196);
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.imagem{
    display: flex;
    justify-content: center;    
}

.imagem > img{
    min-width: 300px;
}

main > section{
    margin: 10px 0px;
}

.iframe1{
    display: flex;
    justify-content: center;
}